root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
tab_width = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# Python
[*.py]
indent_size = 4
tab_width = 4

# Markdown
[*.md]
indent_size = 2
tab_width = 2

# Terraform
[*.tf]
indent_size = 2
tab_width = 2

# Makefiles
[Makefile,*.mak,*.mk,*.make]
indent_style = tab
tab_width = 4

# config files
[*.yml,*.yaml,*.toml,*.ini]
indent_size = 2
tab_width = 2

# Frontend
[*.js,*.ts,*.tsx,*.jsx,*.css,*.scss,*.json]
indent_size = 2
tab_width = 2

# Dockerfile
[Dockerfile]
indent_size = 4
tab_width = 4

# SQL
[*.sql]
indent_size = 4
tab_width = 4

# Shell
[*.sh,*.bash,*.zsh]
indent_size = 4
tab_width = 4

# XML project files
[*.{csproj,vbproj,vcxproj,vcxproj.filters,proj,projitems,shproj}]
indent_size = 2

# XML config files
[*.{props,targets,ruleset,config,nuspec,resx,vsixmanifest,vsct}]
indent_size = 2

# Code files
[*.{cs,csx,vb,vbx}]
indent_size = 4
insert_final_newline = true
charset = utf-8-bom